{% extends 'base.html' %}
{% block title %}Карточка пользователя{% endblock title %}

{% block content %}
{% if email %}
<div class="parent_div">
    Карточка пользователя {{ email }}
</div>
{% endif %}
<form action="/card_users/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Получить">
</form>

{% for item in walets %}
    <div class="parent_div">
        <div class="item_parent_div">
            <div class="child_item_parent_div">Валюта:</div>
            <div class="child_item_parent_div"> {{ item.currency }}</div>
        </div>
        <div class="item_parent_div">
            <div class="child_item_parent_div">Баланс:</div>
            <div class="child_item_parent_div">{{ item.balance }}</div>
        </div>
    </div>
{% endfor %}

{% if not walets and email %}
  <div class="parent_div">
    У пользователя {{ email }} нет кошелька
 </div>
{% endif %}

{% endblock content %}